<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=MSI;Initial Catalog=TestDatabase;User ID=UnitTestUser;Password=A14CC954-825F-4049-8E4E-D3799E78D0B1" />
  </connectionStrings>
</configuration>