<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UserDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=MSI;Initial Catalog=UserDatabase;User ID=WebAppUser;Password=DAF19EF2-0F68-458C-B3BA-3A5D78648A8C" />
  </connectionStrings>
</configuration>